.blog_title {
  h1 {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
    font-weight: bold;
  }

  p {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    margin-top: 0.5rem /* 8px */;
    margin-bottom: 0.5rem /* 8px */;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    @media (prefers-color-scheme: dark) {
      --tw-text-opacity: 1;
      color: rgb(156 163 175 / var(--tw-text-opacity));
    }
  }
}

.blog_content {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
